div.slide {
  font: small Helvetica Neue, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  background: #fff;
  color: #000;
}
div.content {
  padding: 2em;
}
h1 {
  font-weight: bold;
}
h1 em, h1 strong {
  font-weight: normal;
  font-style: normal;
}
h1 strong {
  border-bottom: 5px solid #633;
}
h2 {
  color: #633;
}
div.shadow img {
  box-shadow: 5px 5px 5px #ccc;
}
code {
  font-family: Consolas, Menlo, monospace;
}
div.input input {
  font-size: 1em;
}
